/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Customizations for Vines */
html { 
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
    
    -webkit-touch-callout: none; 
    touch-callout: none;
}

body {
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    font: normal 17px/22px "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

body > * {
    background: -webkit-gradient(linear,0% 0,0% 100%,from(#333),to(#5E5E65));
    -webkit-backface-visibility: hidden;
    -webkit-box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    -webkit-transform: translate3d(0,0,0) rotate(0) scale(1);
    min-height: 420px!important;
    box-sizing: border-box;
}

ul.rounded {
    -webkit-border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,.3) 1px 1px 3px;
    border-radius: 8px;
    box-shadow: rgba(0,0,0,.3) 1px 1px 3px;
}    

ul {
    color: #AAA;
    border: 1px solid #333;
    font: bold 18px Helvetica;
    padding: 0;
    margin: 15px 10px 17px 10px;
}

.nav-bar {
    position: absolute;
    left:0;
    right:0;
    top:0;

    height: 44px;

    color: #ccc;
    font-weight: bold;
    font-size: 18px;
    text-shadow: rgba(255,255,255,.2) 0 1px 1px;
    text-align: center;
}

.nav-bar a {
    position: absolute;
    overflow: hidden;
    top: 8px;
    right: 10px;
    margin: 0;
    border-width: 0 5px;
    padding: 0 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    -webkit-border-image: url(../images/button.png) 0 5 0 5;
}

.nav-bar a:visited {
    color:inherit;
}

.nav-bar h1 {
    float:left;
    font-size: 1em;
    margin:0;
}

.main-view {
    position:absolute;
    z-index: 1;
    top: 45px;
    bottom: 44px;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.character-destroy { 
    background: url(../images/destroy.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}

.character-link {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

ul.character-list {
    list-style: none;
}

#templates {
    display:none;
}

.skill label,
.attribute label {
    display:block;
    width: 100%;
    position:relative;
    height: 30px;
}

.skill input[type=number],
.attribute input[type=number] {
    position:absolute;
    right:0;
}